html,
body {
    overscroll-behavior-y: contain;
    background: #2A2A2A;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.console {
    background: rgba(255,0,0,0.1);
    font-size: 14px;
    padding: 5px 10px;
    max-height: 50px;
    overflow-y: auto;
}
.board {
    position: relative;
    background: #101010;
    width: 900px;
    margin: auto;
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid #2A2A2A;
    display: inline-block;
}
.pacman {
    background: url(pacman_sprite.png) -265px -3px;
    background-size: 720px;
    transition: top 0.2s linear, left 0.2s linear;
    /*animation: pacman 2s steps(3) infinite alternate;*/
}

.pacman.animate-1, .pacman.animate-3 {
    background: url(pacman_sprite.png) -3px -3px;
    background-size: 720px;
}

.pacman.animate-2 {
    background: url(pacman_sprite.png) -3px -69px;
    background-size: 720px;
}

.pacman.down {
    transform: rotate(270deg);
}

.pacman.up {
    transform: rotate(90deg);
}

.pacman.right {
    transform: rotate(180deg);
}

.element {
    top: 0;
    left: 0;
    position: absolute;
    width: 60px;
    height: 60px;
}

.score {
    text-align: right;
    padding: 5px;
    font-size: 30px;
    color: yellow;
    font-family: "Black Ops One";
    margin: auto;
}

.cherry {
    background: url(pacman_sprite.png) 191px -132px;
    background-size: 720px;
}

.apple {
    background: url(pacman_sprite.png) 62px -133px;
    background-size: 720px;
}

.banana {
    background: url(pacman_sprite.png) 130px -135px;
    background-size: 720px;
}

.points {
    animation: disappear 2s;
    animation-fill-mode: forwards;
}

.points-100 {
    background: url(pacman_sprite.png) -3px -465px;
    background-size: 720px;
}

.points-200 {
    background: url(pacman_sprite.png) -64px -465px;
    background-size: 720px;
}

.points-400 {
    background: url(pacman_sprite.png) -135px -465px;
    background-size: 720px;
}

@keyframes pacman {
     0%{
         background: url(pacman_sprite.png) -265px -3px;
         background-size: 720px;
     }
     50%{
         background: url(pacman_sprite.png) -3px -3px;
         background-size: 720px;
     }
     100%{
         background: url(pacman_sprite.png) -3px -69px;
         background-size: 720px;
     }
}

@keyframes disappear{
    0%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.control {
    width:300px;
    height:300px;
    background: lightgrey;
    border-radius: 150px;
    border: 1px solid black;
    margin: 10px auto;
}

@media screen and (min-device-width: 1200px) {
    .control {
        width: 200px;
        height: 200px;
    }
}
