html,
body {
    overscroll-behavior-y: contain;
    background: #2A2A2A;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.console {
    background: rgba(255,0,0,0.1);
    font-size: 14px;
    padding: 5px 10px;
    max-height: 50px;
    overflow-y: auto;
}
.board {
    position: relative;
    background: #101010;
    width: 900px;
    margin: auto;
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid #2A2A2A;
    display: inline-block;
}

.element {
    top: 0;
    left: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(pacman_sprite.png);
    background-size: 720px;
}

.ghost, .ghost.up {
    transition: top 0.4s linear, left 0.4s linear;
    background-position: -3px -135px;
    animation: ghosting-up 1s steps(1, end) infinite;
}

.ghost.down {
    background-position-x: -135px;
    animation: ghosting-down 1s steps(1, end) infinite;
}

.ghost.left {
    background-position-x: -265px;
    animation: ghosting-left 1s steps(1, end) infinite;
}

.ghost.right {
    background-position-x: -395px;
    animation: ghosting-right 1s steps(1, end) infinite;
}

@keyframes ghosting-up{
    0%{
        background-position-x: -3px;
    }

    50% {
        background-position-x: -68px;
    }
}

@keyframes ghosting-down{
    0%{
        background-position-x: -135px;
    }

    50% {
        background-position-x: -200px;
    }
}

@keyframes ghosting-left{
    0%{
        background-position-x: -265px;
    }

    50% {
        background-position-x: -330px;
    }
}

@keyframes ghosting-right{
    0%{
        background-position-x: -395px;
    }

    50% {
        background-position-x: -460px;
    }
}

.pacman {
    background-position: -265px -3px;
    transition: top 0.2s linear, left 0.2s linear;
    animation: pacman 0.15s steps(1) infinite alternate;
}

.pacman.animate-11, .pacman.animate-31 {
    background-position: -3px -3px;
}

.pacman.animate-21 {
    background-position: -3px -69px;
}

.pacman.down {
    transform: rotate(270deg);
}

.pacman.up {
    transform: rotate(90deg);
}

.pacman.right {
    transform: rotate(180deg);
}

@keyframes pacman {
    0%{
        background-position: -265px -3px;
    }
    33%{
        background-position: -3px -3px;
    }
    67%{
        background-position: -3px -69px;
    }
    /*75%{*/
    /*    background-position: -3px -3px;*/
    /*}*/
    /*100% {*/
    /*    background-position: -265px -3px;*/
    /*}*/
}

.score {
    text-align: right;
    padding: 5px;
    font-size: 30px;
    color: yellow;
    font-family: "Black Ops One";
    margin: auto;
}

.cherry {
    background-position: 191px -132px;
}

.apple {
    background-position: 62px -133px;
}

.banana {
    background-position: 130px -135px;
}

.points {
    animation: disappear 2s;
    animation-fill-mode: forwards;
}

.points-100 {
    background-position: -3px -465px;
}

.points-200 {
    background-position: -64px -465px;
}

.points-400 {
    background-position: -135px -465px;
}

@keyframes disappear{
    0%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.control {
    width:300px;
    height:300px;
    background: lightgrey;
    border-radius: 150px;
    border: 1px solid black;
    margin: 10px auto;
}

@media screen and (min-device-width: 1200px) {
    .control {
        width: 200px;
        height: 200px;
    }
}
